%base-view {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #dae2f8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(90deg, #d6a4a4, #dae2f8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #d6a4a4, #dae2f8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

